### instalar API e importar bibliotecas:

In [1]:
pip install wbgapi

Requirement already satisfied: wbgapi in c:\users\conta\downloads\cdd\.venv\lib\site-packages (1.0.12)
Requirement already satisfied: requests in c:\users\conta\downloads\cdd\.venv\lib\site-packages (from wbgapi) (2.32.5)
Requirement already satisfied: PyYAML in c:\users\conta\downloads\cdd\.venv\lib\site-packages (from wbgapi) (6.0.3)
Requirement already satisfied: tabulate in c:\users\conta\downloads\cdd\.venv\lib\site-packages (from wbgapi) (0.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\conta\downloads\cdd\.venv\lib\site-packages (from requests->wbgapi) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\conta\downloads\cdd\.venv\lib\site-packages (from requests->wbgapi) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\conta\downloads\cdd\.venv\lib\site-packages (from requests->wbgapi) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\conta\downloads\cdd\.venv\lib\site-packages (from requests->wbgapi) (2025.10.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import wbgapi as wb
import pandas as pd

### Seleção das informações (series) que serão incluidas na tabela para análise:

##### Para encontrar os códigos referentes a cada indicador, basta ir em https://data.worldbank.org/indicator, selecionar o indicador e copiar o que tem escrito depois da ultima barra da url.

In [3]:
paises = ['BRA', 'ARG', 'BOL', 'CHL', 'COL', 'ECU', 'PRY', 'PER', 'URY', 'VEN']
periodo = range(2000, 2023)
indicadores = {
    "SP.DYN.LE00.IN": "Expectativa de Vida",
    "SH.DYN.MORT": "Mortalidade Infantil (por 1000)",
    "SP.DYN.AMRT.MA": "Taxa de mortalidade de adultos, homens (por 1000)",
    "SP.DYN.AMRT.FE": "Taxa de mortalidade de adultos, mulheres (por 1000)",
    "SH.XPD.CHEX.GD.ZS": "Gastos com Saúde (% do PIB)",
    "SH.MED.PHYS.ZS": "Médicos (por 1000)",
    "SH.MED.BEDS.ZS": "Leitos hospitalares (por 1000)",
    "SH.STA.BASS.ZS": "Acesso ao Saneamento Básico (%)",
    "SH.H2O.BASW.ZS": "Acesso à Água Potável (%)",
    "NY.GDP.PCAP.KD": "PIB per capita",
    "SP.POP.TOTL": "População Total"
}

df_data = wb.data.DataFrame(
    list(indicadores.keys()), 
    paises, 
    time=periodo,
    labels=True
)


df_data.head()

,,Country,Series,YR2000,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,series,,,,,,,,,,,,,,,,,,,,,
VEN,SP.DYN.LE00.IN,"Venezuela, RB","Life expectancy at birth, total (years)",72.388,71.019,72.823,72.056,72.752,73.075,72.972,73.348,...,73.076,72.837,73.004,72.002,71.903,72.641,72.766,72.369,71.536,72.566
URY,SP.DYN.LE00.IN,Uruguay,"Life expectancy at birth, total (years)",74.693,74.987,74.979,75.086,75.319,75.829,75.888,76.150,...,76.953,77.194,77.285,77.351,77.618,77.527,77.503,78.381,75.434,76.468
PER,SP.DYN.LE00.IN,Peru,"Life expectancy at birth, total (years)",69.821,70.315,70.815,71.278,71.447,71.988,72.337,72.746,...,74.591,75.260,75.732,75.951,75.958,76.018,76.275,73.832,71.596,76.834
PRY,SP.DYN.LE00.IN,Paraguay,"Life expectancy at birth, total (years)",70.026,70.281,70.539,70.795,71.054,71.317,71.584,71.817,...,73.292,73.415,73.454,73.487,73.450,73.627,73.668,72.720,68.108,72.319
ECU,SP.DYN.LE00.IN,Ecuador,"Life expectancy at birth, total (years)",72.090,72.571,73.164,73.632,73.868,73.909,74.010,74.226,...,75.832,76.141,76.222,76.094,76.220,77.248,77.286,72.004,72.746,76.577

In [ ]:
df_data.shape

In [ ]:
df_data.dtypes

In [ ]:
df_data.columns.tolist()

### Tranformar os anos em linhas e o título das series em colunas e adaptar a escrita e o tipo dos anos:

In [4]:
df_long = df_data.melt(
    id_vars=['Country', 'Series'],   
    var_name='Ano',
    value_name='Valor'
)

df_long['Ano'] = df_long['Ano'].str.replace('YR', '').astype(int)

In [5]:
df_long.dtypes

Country     object
Series      object
Ano          int64
Valor      float64
dtype: object

In [6]:
df_data = df_long.pivot_table(
    index=['Country', 'Ano'],
    columns='Series',
    values='Valor'
).reset_index()

### Tabela pronta para análise:

In [7]:
df_data.head()

Series,Country,Ano,Current health expenditure (% of GDP),GDP per capita (constant 2015 US$),"Hospital beds (per 1,000 people)","Life expectancy at birth, total (years)","Mortality rate, adult, female (per 1,000 female adults)","Mortality rate, adult, male (per 1,000 male adults)","Mortality rate, under-5 (per 1,000 live births)",People using at least basic drinking water services (% of population),People using at least basic sanitation services (% of population),"Physicians (per 1,000 people)","Population, total"
0,Argentina,2000,8.220011,10631.650364,4.1,73.910,96.592,176.022,19.4,96.284026,87.666927,NaN,37213984.0
1,Argentina,2001,8.371799,10051.944846,NaN,74.154,95.668,174.468,18.8,96.522820,88.135939,3.2481,37624825.0
2,Argentina,2002,7.393312,8861.561993,NaN,74.312,93.468,174.560,18.3,96.755469,88.603394,NaN,38029349.0
3,Argentina,2003,6.894516,9545.531941,NaN,74.307,94.855,170.033,17.8,96.982417,89.069563,NaN,38424282.0
4,Argentina,2004,7.228683,10302.446532,NaN,74.871,90.606,161.164,17.3,97.204346,89.535068,3.1857,38815916.0

In [ ]:
df_data.shape

In [ ]:
df_data.columns.tolist()