### instalar API e importar bibliotecas:

In [1]:
import sys
!{sys.executable} -m pip install wbgapi

Requirement already satisfied: wbgapi in c:\users\fevas\onedrive\documentos\github\ciencia-dos-dados\.venv\lib\site-packages (1.0.12)
Requirement already satisfied: requests in c:\users\fevas\onedrive\documentos\github\ciencia-dos-dados\.venv\lib\site-packages (from wbgapi) (2.32.5)
Requirement already satisfied: PyYAML in c:\users\fevas\onedrive\documentos\github\ciencia-dos-dados\.venv\lib\site-packages (from wbgapi) (6.0.3)
Requirement already satisfied: tabulate in c:\users\fevas\onedrive\documentos\github\ciencia-dos-dados\.venv\lib\site-packages (from wbgapi) (0.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\fevas\onedrive\documentos\github\ciencia-dos-dados\.venv\lib\site-packages (from requests->wbgapi) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fevas\onedrive\documentos\github\ciencia-dos-dados\.venv\lib\site-packages (from requests->wbgapi) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\fevas\onedrive\documentos\github\ciencia-dos-dados\.venv\lib\site-packages (from requests->wbgapi) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fevas\onedrive\documentos\github\ciencia-dos-dados\.venv\lib\site-packages (from requests->wbgapi) (2025.10.5)

In [2]:
import wbgapi as wb
import pandas as pd

### Seleção das informações (series) que serão incluidas na tabela para análise:

##### Para encontrar os códigos referentes a cada indicador, basta ir em https://data.worldbank.org/indicator, selecionar o indicador e copiar o que tem escrito depois da ultima barra da url.

In [3]:
paises = ['BRA', 'ARG', 'BOL', 'CHL', 'COL', 'ECU', 'PRY', 'PER', 'URY', 'VEN']
periodo = range(2000, 2023)
indicadores = {
    "SP.POP.TOTL": "População Total",
    "SP.DYN.LE00.IN": "Expectativa de Vida",
    "SH.DYN.MORT": "Mortalidade Infantil (por 1000)",
    "SP.ADO.TFRT": "Taxa de fertilidade na adolescência (nascimentos por 1.000 mulheres de 15 a 19 anos)",
    "SH.XPD.CHEX.GD.ZS": "Gastos com Saúde (% do PIB)",
    "SN.ITK.DEFC.ZS": "Prevalência de desnutrição (% da população)",
    "SL.UEM.TOTL.FE.ZS": "Desemprego Feminino (%)",
    "SL.UEM.TOTL.MA.ZS": "Desemprego Masculino (%)",
    "SI.POV.DDAY" : "Taxa de pobreza de US$ 3,00 por dia (%)",
    "EG.ELC.ACCS.ZS": "Acesso à eletricidade (% da população)",
    "SH.STA.BASS.ZS": "Acesso ao Saneamento Básico (%)",
    "SH.H2O.BASW.ZS": "Acesso à Água Potável (%)",
    "NY.GDP.PCAP.KD": "PIB per capita",
    "E.ADT.LITR.ZS": "Taxa de alfabetização, total de adultos (% de pessoas com 15 anos ou mais)",
    "SE.PRM.NENR": "Matrícula escolar primária (% líquida)",
    "SE.SEC.NENR": "Matrícula escolar secundária (% líquida)",
    "SE.TER.ENRR": "Matrícula escolar, terciário (% bruto)",
}

df_data = wb.data.DataFrame(
    list(indicadores.keys()), 
    paises, 
    time=periodo,
    labels=True
)


df_data.head()

,,Country,Series,YR2000,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,series,,,,,,,,,,,,,,,,,,,,,
VEN,SP.POP.TOTL,"Venezuela, RB","Population, total",24526708.0,24979922.0,25435671.0,25892703.0,26340838.0,26785804.0,27224686.0,27649363.0,...,29912198.0,30254079.0,30573972.0,30765720.0,30565323.0,29807592.0,28938098.0,28444077.0,28237826.0,28213017.0
URY,SP.POP.TOTL,Uruguay,"Population, total",3266206.0,3274251.0,3278867.0,3281186.0,3283148.0,3285771.0,3289506.0,3295153.0,...,3345337.0,3356334.0,3368017.0,3379283.0,3388438.0,3394534.0,3397206.0,3398968.0,3396695.0,3390913.0
PER,SP.POP.TOTL,Peru,"Population, total",26598331.0,26964601.0,27288217.0,27580490.0,27852190.0,28101180.0,28324491.0,28530699.0,...,29817919.0,30115826.0,30457600.0,30866494.0,31324637.0,31897584.0,32449303.0,32838579.0,33155882.0,33475438.0
PRY,SP.POP.TOTL,Paraguay,"Population, total",5100868.0,5187689.0,5261328.0,5326436.0,5388175.0,5448097.0,5505148.0,5559386.0,...,5982445.0,6069811.0,6159103.0,6249126.0,6338660.0,6427382.0,6515058.0,6603739.0,6684182.0,6760464.0
ECU,SP.POP.TOTL,Ecuador,"Population, total",12689206.0,12910740.0,13138472.0,13372306.0,13608701.0,13846163.0,14086131.0,14328773.0,...,15807128.0,16035124.0,16266225.0,16505139.0,16759519.0,17049547.0,17340021.0,17546065.0,17682454.0,17823897.0

In [4]:
df_data.shape

(160, 25)

In [5]:
df_data.dtypes

Country     object
Series      object
YR2000     float64
YR2001     float64
YR2002     float64
YR2003     float64
YR2004     float64
YR2005     float64
YR2006     float64
YR2007     float64
YR2008     float64
YR2009     float64
YR2010     float64
YR2011     float64
YR2012     float64
YR2013     float64
YR2014     float64
YR2015     float64
YR2016     float64
YR2017     float64
YR2018     float64
YR2019     float64
YR2020     float64
YR2021     float64
YR2022     float64
dtype: object

In [6]:
df_data.columns.tolist()

['Country',
 'Series',
 'YR2000',
 'YR2001',
 'YR2002',
 'YR2003',
 'YR2004',
 'YR2005',
 'YR2006',
 'YR2007',
 'YR2008',
 'YR2009',
 'YR2010',
 'YR2011',
 'YR2012',
 'YR2013',
 'YR2014',
 'YR2015',
 'YR2016',
 'YR2017',
 'YR2018',
 'YR2019',
 'YR2020',
 'YR2021',
 'YR2022']

### Tranformar os anos em linhas e o título das series em colunas e adaptar a escrita e o tipo dos anos:

In [7]:
df_long = df_data.melt(
    id_vars=['Country', 'Series'],   
    var_name='Ano',
    value_name='Valor'
)

df_long['Ano'] = df_long['Ano'].str.replace('YR', '').astype(int)

In [8]:
df_long.dtypes

Country     object
Series      object
Ano          int64
Valor      float64
dtype: object

In [9]:
df_data = df_long.pivot_table(
    index=['Country', 'Ano'],
    columns='Series',
    values='Valor'
).reset_index()

### Tabela pronta para análise:

In [10]:
df_data.head()

Series,Country,Ano,Access to electricity (% of population),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Current health expenditure (% of GDP),GDP per capita (constant 2015 US$),"Life expectancy at birth, total (years)","Mortality rate, under-5 (per 1,000 live births)",People using at least basic drinking water services (% of population),People using at least basic sanitation services (% of population),"Population, total",Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population),Prevalence of undernourishment (% of population),"School enrollment, primary (% net)","School enrollment, secondary (% net)","School enrollment, tertiary (% gross)","Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)"
0,Argentina,2000,95.7,65.808,8.220011,10631.650364,73.910,19.4,96.284026,87.666927,37213984.0,7.3,NaN,98.92861,78.48781,54.084351,16.356,14.029
1,Argentina,2001,95.5,63.491,8.371799,10051.944846,74.154,18.8,96.522820,88.135939,37624825.0,10.7,2.9,99.00260,78.94955,58.469761,17.191,17.411
2,Argentina,2002,96.1,62.126,7.393312,8861.561993,74.312,18.3,96.755469,88.603394,38029349.0,17.1,3.7,98.95948,78.81052,61.722881,18.823,20.122
3,Argentina,2003,96.3,60.002,6.894516,9545.531941,74.307,17.8,96.982417,89.069563,38424282.0,8.2,4.3,98.87379,78.51365,64.030487,17.577,13.806
4,Argentina,2004,96.5,61.681,7.228683,10302.446532,74.871,17.3,97.204346,89.535068,38815916.0,6.0,3.9,98.57855,78.53653,64.589142,15.823,11.893

In [11]:
df_data.shape

(230, 18)

In [12]:
df_data.columns.tolist()

['Country',
 'Ano',
 'Access to electricity (% of population)',
 'Adolescent fertility rate (births per 1,000 women ages 15-19)',
 'Current health expenditure (% of GDP)',
 'GDP per capita (constant 2015 US$)',
 'Life expectancy at birth, total (years)',
 'Mortality rate, under-5 (per 1,000 live births)',
 'People using at least basic drinking water services (% of population)',
 'People using at least basic sanitation services (% of population)',
 'Population, total',
 'Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)',
 'Prevalence of undernourishment (% of population)',
 'School enrollment, primary (% net)',
 'School enrollment, secondary (% net)',
 'School enrollment, tertiary (% gross)',
 'Unemployment, female (% of female labor force) (modeled ILO estimate)',
 'Unemployment, male (% of male labor force) (modeled ILO estimate)']

In [13]:
df_data.isna().sum()

Series
Country                                                                   0
Ano                                                                       0
Access to electricity (% of population)                                   0
Adolescent fertility rate (births per 1,000 women ages 15-19)             0
Current health expenditure (% of GDP)                                    18
GDP per capita (constant 2015 US$)                                       23
Life expectancy at birth, total (years)                                   0
Mortality rate, under-5 (per 1,000 live births)                           0
People using at least basic drinking water services (% of population)     6
People using at least basic sanitation services (% of population)         6
Population, total                                                         0
Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)      40
Prevalence of undernourishment (% of population)                         10
School enrollment, primary (% net)                                       68
School enrollment, secondary (% net)                                     84
School enrollment, tertiary (% gross)                                    96
Unemployment, female (% of female labor force) (modeled ILO estimate)     0
Unemployment, male (% of male labor force) (modeled ILO estimate)         0
dtype: int64

In [14]:
df_data.dtypes

Series
Country                                                                   object
Ano                                                                        int64
Access to electricity (% of population)                                  float64
Adolescent fertility rate (births per 1,000 women ages 15-19)            float64
Current health expenditure (% of GDP)                                    float64
GDP per capita (constant 2015 US$)                                       float64
Life expectancy at birth, total (years)                                  float64
Mortality rate, under-5 (per 1,000 live births)                          float64
People using at least basic drinking water services (% of population)    float64
People using at least basic sanitation services (% of population)        float64
Population, total                                                        float64
Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)      float64
Prevalence of undernourishment (% of population)                         float64
School enrollment, primary (% net)                                       float64
School enrollment, secondary (% net)                                     float64
School enrollment, tertiary (% gross)                                    float64
Unemployment, female (% of female labor force) (modeled ILO estimate)    float64
Unemployment, male (% of male labor force) (modeled ILO estimate)        float64
dtype: object

Tratamento de Dados Faltantes

In [15]:
linhas_com_nan = df_data[df_data.isna().any(axis=1)]
linhas_com_nan

Series,Country,Ano,Access to electricity (% of population),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Current health expenditure (% of GDP),GDP per capita (constant 2015 US$),"Life expectancy at birth, total (years)","Mortality rate, under-5 (per 1,000 live births)",People using at least basic drinking water services (% of population),People using at least basic sanitation services (% of population),"Population, total",Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population),Prevalence of undernourishment (% of population),"School enrollment, primary (% net)","School enrollment, secondary (% net)","School enrollment, tertiary (% gross)","Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)"
0,Argentina,2000,95.7,65.808,8.220011,10631.650364,73.910,19.4,96.284026,87.666927,37213984.0,7.3,NaN,98.92861,78.48781,54.084351,16.356,14.029
15,Argentina,2015,99.7,63.879,10.229337,13679.626498,76.600,11.7,98.982308,94.420408,43477012.0,NaN,2.8,99.49576,88.44048,83.755693,8.706,6.798
17,Argentina,2017,100.0,55.022,10.231748,13520.112985,76.543,11.0,NaN,NaN,44288894.0,1.1,3.4,99.18400,90.79605,89.329735,9.485,7.544
18,Argentina,2018,100.0,49.926,10.291469,13058.328545,76.770,10.7,NaN,NaN,44654882.0,1.6,3.5,NaN,NaN,91.084651,10.563,8.246
19,Argentina,2019,100.0,41.751,10.155511,12706.397811,76.847,10.5,NaN,NaN,44973465.0,1.7,3.5,NaN,NaN,95.192824,10.718,9.202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,"Venezuela, RB",2018,99.9,75.503,2.416913,NaN,72.641,24.3,94.039990,96.214417,29807592.0,NaN,23.2,NaN,NaN,NaN,6.167,5.001
226,"Venezuela, RB",2019,99.8,74.487,2.185637,NaN,72.766,24.3,93.862896,96.759710,28938098.0,NaN,23.9,NaN,NaN,NaN,6.478,5.487
227,"Venezuela, RB",2020,99.9,73.750,4.116152,NaN,72.369,24.3,93.685801,96.986065,28444077.0,NaN,22.2,NaN,NaN,NaN,7.907,7.286
228,"Venezuela, RB",2021,100.0,73.384,4.102220,NaN,71.536,24.3,93.508706,97.002357,28237826.0,NaN,20.0,NaN,NaN,NaN,7.548,6.705
229,"Venezuela, RB",2022,100.0,73.026,4.550474,NaN,72.566,24.3,93.331611,98.395586,28213017.0,NaN,17.6,NaN,NaN,NaN,6.222,5.410

In [16]:
df_data.isnull().sum()

Series
Country                                                                   0
Ano                                                                       0
Access to electricity (% of population)                                   0
Adolescent fertility rate (births per 1,000 women ages 15-19)             0
Current health expenditure (% of GDP)                                    18
GDP per capita (constant 2015 US$)                                       23
Life expectancy at birth, total (years)                                   0
Mortality rate, under-5 (per 1,000 live births)                           0
People using at least basic drinking water services (% of population)     6
People using at least basic sanitation services (% of population)         6
Population, total                                                         0
Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)      40
Prevalence of undernourishment (% of population)                         10
School enrollment, primary (% net)                                       68
School enrollment, secondary (% net)                                     84
School enrollment, tertiary (% gross)                                    96
Unemployment, female (% of female labor force) (modeled ILO estimate)     0
Unemployment, male (% of male labor force) (modeled ILO estimate)         0
dtype: int64

In [17]:
colunas_com_nulos = [
    'Current health expenditure (% of GDP)',
    'GDP per capita (constant 2015 US$)',
    'People using at least basic drinking water services (% of population)',
    'People using at least basic sanitation services (% of population)',
    'Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)',
    'Prevalence of undernourishment (% of population)',
    'School enrollment, primary (% net)',
    'School enrollment, secondary (% net)',
    'School enrollment, tertiary (% gross)'
]

for col in colunas_com_nulos:
    df_data.fillna(df_data[col].median(), inplace=True)

In [18]:
df_data.isnull().sum()

Series
Country                                                                  0
Ano                                                                      0
Access to electricity (% of population)                                  0
Adolescent fertility rate (births per 1,000 women ages 15-19)            0
Current health expenditure (% of GDP)                                    0
GDP per capita (constant 2015 US$)                                       0
Life expectancy at birth, total (years)                                  0
Mortality rate, under-5 (per 1,000 live births)                          0
People using at least basic drinking water services (% of population)    0
People using at least basic sanitation services (% of population)        0
Population, total                                                        0
Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)      0
Prevalence of undernourishment (% of population)                         0
School enrollment, primary (% net)                                       0
School enrollment, secondary (% net)                                     0
School enrollment, tertiary (% gross)                                    0
Unemployment, female (% of female labor force) (modeled ILO estimate)    0
Unemployment, male (% of male labor force) (modeled ILO estimate)        0
dtype: int64