In [1]:
import pandas as pd

data_dict = {
    'Nome':[
        'identifier',      
        'title',           
        'creator',         
        'date',            
        'subject',          
        'language',         
        'description',      
        'collection',       
        'format',        
        'addeddate',       
        'downloads'
    ],

    'Tipo':[
        'Categorico Nominal',      
        'Categorico Nominal',           
        'Categorico Nominal',         
        'Data/Hora',            
        'Categorico Nominal',          
        'Categorico Nominal',         
        'Categorico Nominal',      
        'Categorico Nominal',       
        'Categorico Nominal',        
        'Data/Hora',     
        'Numérico Discreto' 
    ],

    'Descrição':[
        'Identificador único do texto',
        'Título do texto',
        'Autor do texto',
        'Data de publicação',
        'Palavras-chave do texto',
        'Linguagem do texto',
        'Sinopse ou resumo',
        'Coleções às quais o texto pertence',
        'Formatos disponíveis do arquivo',
        'Data de adição no site',
        'Quantidade baixada'
    ],

    'Dados Faltantes':[
        'Não', 
        'Não', 
        'Sim', 
        'Sim', 
        'Não', 
        'Sim',
        'Sim', 
        'Não', 
        'Não', 
        'Não', 
        'Não'
    ]
}

df = pd.DataFrame(data_dict)
styled_df = df.style.set_table_styles(
    [
        {'selector': 'th', 'props': [('text-align', 'left')]},
        {'selector': 'td', 'props': [('text-align', 'left')]}
    ]
)

print("Período de análise: 2000 a 2025")
print("O conjunto de dados possui mais de 9000 amostras e 11 features.")
display(styled_df)

Período de análise: 2000 a 2025
O conjunto de dados possui mais de 9000 amostras e 11 features.